anaconda==0.0.1.1
build==0.9.0
# Editable install with no version control (CalciumAnalysis==0.0.1)
-e /Users/flynnoconnell/Documents/repos/canalysis
cycler==0.11.0
easy-gui==0.4.2
easygui==0.98.2
fonttools==4.28.5
joblib==1.2.0
kiwisolver==1.3.2
matplotlib==3.5.1
numpy==1.21.5
packaging==21.3
pandas==1.5.1
pep517==0.13.0
Pillow==8.4.0
pyparsing==3.0.6
python-dateutil==2.8.2
pytz==2022.6
PyYAML==6.0
scikit-learn==1.1.3
scipy==1.9.3
seaborn==0.12.1
six==1.16.0
sklearn==0.0.post1
threadpoolctl==3.1.0
tomli==2.0.1
